@import 
url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

* {
    box-sizing: border-box;
    transition: all ease-in-out 200ms;
    scroll-behavior: smooth;
}

:root {
    --primary-color: #232323;
    --accent-color: #00FF6C;
    --light-color: #DDDDDD;
}

body {
    margin: 0;
    font-family: 'Raleway',sans-serif;
    text-align: center;
    background-color: var(--light-color);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
    content: '';
    display: block;
    clear: both;
}



[class^=col-] {
    padding: .5em;
    width: 100%;
}

[class^=col-]:first-child {
    margin-top: 0;
}

.col-1 {
    width: 33.3333334%;
    float: left;
}

@media (min-width: 65rem) {
    [class^=col-] {
        float: left;
        padding: .5em;
        width: 100%;
    }
    [class^=col-]:first-child {
        padding-left: 0;
        margin-top: 0;
    }

    [class^=col-]:last-child {
        padding-right: 0;
    }

    .col-3 {
        width: 50%;
    }

    .col-1 {
        width: 16.66666%;
    }
}



h1 {
    font-weight: 300;
    font-size: 1.7rem;
    margin-top: 0;
}

p {
    margin-top: 0;
    line-height: 1.5em;
}

p:last-of-type {
    margin-bottom: 0;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: .9em;
}

.title-call-to-action {
    margin: 0 0 .5em;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 65rem) {
    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }
    
    .title {
        font-size: 3.8rem;
    }
}



.button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid;
    padding: 0.5em 1.75em;
}

@media (min-width: 65rem) {
    .button {
        font-size: 1.5rem;
    }
}

.button-small {
    font-size: .7rem;
    font-weight: 700;
}

.button-accent {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.button-accent:hover,
.button-accent:focus {
    background-color: var(--accent-color);
    color: var(--primary-color)
}

.button-dark {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.button-dark:hover,
.button-dark:focus {
    background-color: var(--primary-color);
    color: var(--accent-color);
}



header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5em;
    color: var(--light-color);
}

nav a:hover,
nav a:focus {
    color: var(--light-color);
}

@media (min-width: 65rem) {
    .logo {
        float: left;
    }
    nav {
        float: right;
    }
}



.home-hero {
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: var(--light-color);
}

@media (min-width: 65rem) {
    .home-hero {
        height: 100vh;
        padding-top: 35vh;
    }
}



.home-about-textbox {
    background-color: var(--primary-color);
    padding: 4em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid var(--accent-color);
    outline-offset: -2.5em;
    color: var(--light-color);
    position: relative;
}

.home-about-textbox h1 {
    color: var(--accent-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: .8em;
    background-color: var(--primary-color);
    padding: 0 .145em;
    text-transform: uppercase;
}

@media (min-width: 25rem) {
    h1 {
        font-size: 2rem;
    }

    .home-about-textbox h1 {
        top: .55em;
        padding: 0 .325em;
    }
}

@media (min-width: 65rem) {
    h1 {
        font-size: 2.5rem;
    }

    .home-about {
        background-image: url(../img/who-we-are.jpg);
        background-repeat: no-repeat;
        padding-bottom: 10em;
    }

    .home-about-textbox {
        width: 50%;
        padding: 7em;
        outline-offset: -3.75em;
        margin-left: -2.5%;
        top: -5em;
        text-align: left;
        box-shadow: 0 0 3em 0 rgba(0, 0, 0, .5);
    }

    .home-about-textbox h1 {
        top: .8em;
        left: 6rem;
        transform: translateX(0);
    }
}



.portfolio {
    margin: 3em 0 0;
}

.portfolio h1 {
    font-weight: 700;
    color: var(--primary-color);
}

.portfolio-item {
    margin: 0;
    position: relative;
}

.portfolio-item img {
    display: block;
    width: 100%;
}

.portfolio-description {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: var(--light-color);
    background-color: rgba(0, 0, 0, .5);
    padding-bottom: 2em;
}

.portfolio-description p {
    margin: 1em;
}

@media (min-width: 37rem) {
    .portfolio-item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 65rem) {
    .portfolio-item {
        width: 33.333%;
        overflow: hidden;
    }

    .portfolio-description {
        transform: translateY(150%);
    }

    .portfolio-item:hover .portfolio-description {
        transform: translateY(0%);
    }
}



.call-to-action {
    background-color: var(--accent-color);
    padding: 6em 0;
}

.call-to-action h1 {
    color: var(--primary-color);
}



footer {
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: left;
    padding: 5em 0;
}